{% extends 'base.html' %}

{% block title %}Register Student{% endblock %}

{% block content %}
<div class="container col-md-6 mt-5">
    {% if messages %}
        <div>
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
    {% endif %}
    
    <h2 class="text-center">Register a New Student</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="photo">Profile Photo</label>
            <input type="file" id="photo" name="photo" class="form-control-file">
        </div>
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" id="first_name" name="first_name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" id="last_name" name="last_name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="student_rollnumber">Roll Number</label>
            <input type="text" id="student_rollnumber" name="student_rollnumber" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="rfid">RFID Number</label>
            <input type="text" id="student_rfidnumber" name="student_rfidnumber" class="form-control" placeholder="Scan RFID Card Here" required onfocus="this.select()">
        </div>
        <div class="form-group">
            <label for="date_of_birth">Date of Birth</label>
            <input type="date" id="date_of_birth" name="date_of_birth" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="assigned_class">Class</label>
            <select id="assigned_class" name="assigned_class" class="form-control" required>
                {% for cls in classes %}
                    <option value="{{ cls.id }}">{{ cls.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Register Student</button>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const rfidInput = document.getElementById('student_rfidnumber');
        rfidInput.focus();
    });
</script>
{% endblock %}
