{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container col-md-6 mt-5">
    {% if messages %}
        <div>
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
    {% endif %}
    
    <h2 class="text-center">Update Profile</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="photo">Profile Photo</label>
            {% if photo %}
                <div class="mb-3">
                    <img src="{{ photo.url }}" alt="Profile Photo" class="img-thumbnail" width="100">
                </div>
            {% endif %}
            <input type="file" id="photo" name="photo" class="form-control-file">
        </div>
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" id="first_name" name="first_name" class="form-control" value="{{ first_name }}" required>
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" id="last_name" name="last_name" class="form-control" value="{{ last_name }}" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" value="{{ email }}" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Update Profile</button>
    </form>
</div>
{% endblock %}
